.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 70px;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 30%;

}

body {
  background-color: #272829;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 30%;
}
